#忽略所有文件和目录
*

#不忽略.gitignore
!.gitignore

#不忽略指定目录和下面所有目录,而不是目录和文件
!/dir1/
!/dir1/**/
!/dir2/
!/dir2/**/
#不忽略根目录和下面所有目录
!/
!/**/

#忽略任意子目录文件夹
# IDE
.vscode/
**/.idea


#忽略编译文件夹
build/
cmake-build-*/
build-*/

# 忽略Doc
**/Doc/

#不忽略指定扩展名文件
!*.cpp
!*.hpp
!*.c
!*.h
!makefile
!Makefile
!CmakeList.txt
!*.md
!*.txt
# !*.doc
# !*.docx
!*.jpg
!*.png


#.clang-format

# upload
.vscode-upload.json

# back up
*.bak

# core文件
core
# 默认可执行文件名
a.out

#忽略wps缓存
.~*.doc
.~*.docx
*.~*

00笔试/